<form
    [formGroup]="formGroup"
    (ngSubmit)="createTodoItem(formGroup.controls['name'].value, formGroup.controls['description'].value)">
    <div class="form-row">
        <div class="col col-sm-4 form-group">
            <input class="form-control" type="text" id="name" name="name" placeholder="Todo Item"
                [formControl]="formGroup.controls['name']">
            <small style="color:red;" *ngIf="formGroup.controls['name'].hasError('required')">El nombre es un campo obligatorio</small>
            <small style="color:red;" *ngIf="formGroup.controls['name'].hasError('nameInvalid')">El nombre debe tener mínimo {{nameLength}} caracteres</small>
        </div>
        <div class="col col-sm-6 form-group">
            <input class="form-control" type="text" id="description" placeholder="Description"
                [formControl]="formGroup.controls['description']">
        </div>
        <div class="col col-sm-2 form-group">
            <input class="btn btn-todo-primary" type="submit" id="saveBtn" text="Save" [disabled]="!formGroup.valid" />
        </div>
    </div>
</form>