<div class="jumbotron">
  <h1>Todo App</h1>
</div>

<div class="container">
  <nav class="nav nav-pills">
    <a class="nav-link active" id="nav_home" [routerLink]="['/home']">Home</a>
    <a class="nav-link" id="nav_movies" [routerLink]="['/movies']">Movies</a>
    <a class="nav-link" id="nav_history" [routerLink]="['/history']">History</a>
  </nav>
  <hr style="margin-top: 2rem;"/>
  <router-outlet></router-outlet>
</div>
